@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    height: 92px !important;
    width: 92px !important;
    margin-bottom: 0;
    color-scheme: normal;
    pointer-events: none !important;
    position: fixed !important;
    z-index: 2147483642 !important;
    display: block !important;
    visibility: visible !important;
    content-visibility: visible !important;
    opacity: 1 !important;
    top: auto !important;
    left: auto !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0 !important;
    min-height: 100% !important;
    max-height: 100% !important;
}
